@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
body {
	background-image: url("https://wallpapercave.com/wp/wp2293428.jpg");
    background-size: 180%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

main {
    min-height: 80vh;

}

h1 {
	padding-bottom: 15px;
    font-size: 4.5em;
    font-family: 'Orbitron', sans-serif;
}

a {
    color: rgb(255, 250, 250);
    text-decoration: none;
    font-size: 3em;
    animation-duration: 20s;
    padding:20px;
    margin-bottom: 5px;
    /* background: rgba(71, 90, 105, .5) */
}

section {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
`    align-items: center;
    flex-wrap: nowrap;
}
.modal-buttons {
	padding: 14px 18px;
    background: rgba(46, 97, 13, 0.68);
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.game-over {
  opacity: 1;
  pointer-events: all;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.7);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
}

#modal-footer {
	text-align: right;
}
